{% extends 'app/base.html' %}

{% block title %}
{% trans "О нас" %}
{% endblock %}

{% block content %}
<div class="container">
    <section class="section">
        <h2>{% trans "О сайте" %}</h2>
        <p>{% trans "Наш сайт предоставляет уникальную возможность забронировать билеты на самые захватывающие и эксклюзивные показы мод, которые проходят по всему миру. Мы работаем с ведущими мировыми дизайнерами, организуем грандиозные мероприятия, на которых представлены новейшие коллекции, и предлагаем вам шанс быть частью модного мира. С помощью нашего сайта вы можете быстро и удобно выбрать билеты на мероприятие, забронировать их и насладиться показами мировых брендов." %}</p>
    </section>

    <section class="section">
        <h2>{% trans "Как купить билет" %}</h2>
        <p>{% trans "Купить билет на показ мод легко и быстро. Следуйте пошаговой инструкции:" %}</p>
        <ul>
            <li>{% trans "1. Выберите мероприятие и дату показа, которое хотите посетить." %}</li>
            <li>{% trans "2. Ознакомьтесь с подробностями мероприятия, включая место проведения и время." %}</li>
            <li>{% trans "3. Нажмите на кнопку 'Купить билет' и выберите количество билетов." %}</li>
            <li>{% trans "4. Заполните форму с личными данными для оплаты." %}</li>
            <li>{% trans "5. Получите электронный билет на ваш email, который будет действителен для входа на мероприятие." %}</li>
        </ul>
    </section>
</div>
{% endblock %}
