{% extends 'app/base.html' %}

{% block content %}
<div style="max-width: 400px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 8px; background: #f9f9f9;">
    <h2 style="text-align: center; color: #333;">Письмо отправлено</h2>
    <p style="font-size: 16px; color: #555; text-align: center;">
        Проверьте свою почту для получения ссылки на сброс пароля. Вы будете перенаправлены на страницу логина через несколько секунд.
    </p>
</div>

<script>
    setTimeout(() => {
        window.location.href = "{% url 'login' %}";
    }, 3000); // Перенаправление на страницу логина через 3 секунды
</script>
{% endblock %}
